<mat-card>
  <mat-card-title>Детали платежа</mat-card-title>
  <mat-list>
    <mat-list-item><div class="item-payment"><span>Название платежа:</span> <span class="right">{{payment.name}}</span></div></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><div class="item-payment"><span>Сумма:</span> <span class="right">{{payment.summ}}</span></div></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><div class="item-payment"><span>Платеж создан:</span> <span class="right">{{payment.date}}</span></div></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><div class="item-payment"><span>Статус:</span> <span class="right">{{payment.status}}</span></div></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><div class="item-payment"><span>Банк:</span> <span class="right">{{payment.bank}}</span></div></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><div class="item-payment"><span>Бик:</span> <span class="right">{{payment.bik}}</span></div></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><div class="item-payment"><span>Расчетный счет:</span> <span class="right">{{payment.rs}}</span></div></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><div class="item-payment"><span>Комментарий:</span> <span class="right">{{payment.comment}}</span></div></mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card>
